<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Romain Castagnet">
    <title>waiting {{ version }} - An App built to wait the D-Day</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154560147-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-154560147-1');
    </script>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="https://getbootstrap.com/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.4/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Waiting</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link active" href="/setup">Setup</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">{{ display }}</h1>
    <form action="/result" method="POST">
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Day and Time of <b>Departure</b></label>
        <div class="col-sm-6">
          <input name="date" type="text" placeholder="YYYY-mm-dd HH:MM" required
                 pattern="\d{4}-\d{1,2}-\d{1,2} ([01]?[0-9]|2[0-3]):[0-5][0-9]"
                 value="{{ args['date'] }}"
                 data-toggle="tooltip" data-placement="top" title="Format: 'YYYY-mm-dd HH:MM'"
                 style="width: 224px; height: 34px"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Custom <b>Text</b> displayed</label>
        <div class="col-sm-6">
          <input name="text" type="text" placeholder="Optional"
                 value="{{ args['text'] }}"
                 data-toggle="tooltip" data-placement="top" title="Example: 'Holiday :'"
                 style="width: 224px; height: 34px"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">List of <b>Absence Days</b></label>
        <div class="col-sm-6">
          <input name="days_off" type="text" placeholder="Optional"
                 value="{{ args['days_off'] }}"
                 data-toggle="tooltip" data-placement="top" title="Format: 'YYYY-mm-dd,YYYY-mm-dd,...'"
                 style="width: 224px; height: 34px"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label class="col-form-label" style="padding-bottom:0; margin-bottom: 0"><b>Number of absences </b></label>
          <small class="form-text text-muted" style="padding-top:0; margin-top: 0">(Not in the absence list)</small>
        </div>
        <div class="col-sm-6">
          <input name="absence" type="number" required
                 value="{{ args['absence'] | default('0') }}" min="0"
                 style="margin-top: 10px; width: 224px; height: 34px"/>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-light" style="margin-top: 20px">Submit</button>
    </form>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Project <a href="https://gitlab.com/castagne40/waiting_script">gitlab.com/waiting_script</a> by <a href="https://gitlab.com/castagne40">@castagne40</a>.</p>
    </div>
  </footer>
</div>
</body>
</html>

